@import 'app.css';

// Bootstrap Functions
@import 'theme/bootstrap/functions';

// Custom Variables
@import 'theme/custom/variables';

// Theme Variables
@import 'theme/variables';

// Bootstrap Core
@import 'theme/bootstrap/bootstrap';

// Theme Core
@import 'theme/theme';

// Custom Variables
@import 'theme/custom/styles';

.btn {
	font-size: 0.9rem;
	transform: none !important;
	border: 2px solid transparent !important;
}

.btn:hover {
	border: 2px solid rgba(255, 255, 255);
	transform: none !important;
}

.dataTable-input {
	border: 2px solid #555 !important;
	color: #555 !important;
}

.dataTable-wrapper .dataTable-top .dataTable-dropdown label .dataTable-selector {
	background-color: inherit;
	border: 2px solid #555;
	margin-right: 5px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
	border-left: none !important;
}

.nav-link:hover {
	color: #5a5fe0 !important;
}

.notification {
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	padding: 1rem;
	position: relative;
	width: 100%;
	background-color: white;

	&.notification-success {
		border-left: 5px solid #17ad37;
	}

	&.notification-error {
		border-left: 5px solid #ad172d;
	}
}
